@font-face {
  font-family: '나눔손글씨-중학생';
  src: url('../../../public/assets/fonts/나눔손글씨-중학생.woff');
}

@font-face {
  font-family: 'PyeongChang-Bold';
  src: url('../../../public/assets/fonts/PyeongChang-Bold.woff');
}

@font-face {
  font-family: 'PyeongChang-Regular';
  src: url('../../../public/assets/fonts/PyeongChang-Regular.woff');
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('../../../public/assets/fonts/PyeongChangPeace-Bold.woff');
}

@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('../../../public/assets/fonts/PyeongChangPeace-Light.woff');
}