 /* Color */
$wh-color: #ffffff; //글씨, 기본 버튼, 설명서 배경
$bk-color: #191919; //글씨, 깃허브 로그인 버튼
$sky-color: #c3d2ff; //버튼
$letterBg-color: #fffaf6;  //편지지
$letterLine-color: #ffdbbe; //편지지라인
$tutorialLine-color: #dbdbdb;  //설명서라인
$error-color: #eb1212;  //이메일, 비밀번호 에러 
