@import '../abstracts/variables';

.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .board-title {
    font-family: 'PyeongChangPeace-Light';
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: $wh-color;
    span {
      font-size: 30px;
      margin: 0 10px;
    }
  }
  .board-text {
    color: $wh-color;
    font-family: 'PyeongChang-Regular';
    font-size: 14px;
    margin: 30px 0;
  }
}