@import "../abstracts/variables";

.main-404 {
    margin-top: 156px;
}

.page-notFound {
    font-family: 'PyeongChang Peace';
    font-weight: 300;
    font-size: 20px;
    color: $wh-color;
    margin: 18px 0 41px;
}