@import "../abstracts/variables";

.pw-section {
    margin-top: 53px;
    text-align: center;
    color: $wh-color;

    input {
        margin: 0 auto;
    }

    .email-errorMsg {
        display: inline-block;
        width: 266px;
        text-align: left;
        font-size: 12px;
        padding-top: 11px;
        color: $error-color;
    }

    .email-subMsg {
        font-family: 'PyeongChang';
        font-size: 14px;
        line-height: 16px;
        color: $wh-color;
        margin: 13px 0 41px;
    }
}

