@import '../abstracts/variables';

.join-wrap {
  display: flex;
  flex-direction: column;
  color: $wh-color;
  font-family: 'PyeongChangPeace-Light';
  text-align: center;
  // font-size: ;
  form {
    width: 266px;
    margin: 0 auto;
  }
  .txt-happy{
    padding-bottom: 15px;
  }
  .join-txt-title {
    font-size: 36px;
    padding-bottom: 25px;
  }
  .txt-warning {
    font-size: 14px;
    padding-bottom: 36px;
  }
  input {
    font-family: 'PyeongChang';
    font-size: 14px;
    color: $wh-color;
    width: 266px;
    font-size: 14px;
    border-bottom: 1px solid $wh-color;
    padding-bottom: 9px;
    &::placeholder {
      color: #E0E0E0;
    }
  }

  .errorMessage {
    font-family: 'PyeongChang';
    font-size: 12px;
    color: $error-color;
    text-align: left;
    margin: 11px 0;
  }
  
  button {
    font-family: 'PyeongChang-Regular';
    margin-top: 21px;
  }

}