.wrap-myboard{
display: flex;
flex-direction: column;
align-items: center;
    .grid-bok{
        height: 410px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 28px;
        margin: 45px 0 30px;
        padding: 0 20px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}