@import '../abstracts/variables';
@keyframes Loading{
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  .title {
    color: $wh-color;
    font-family: 'PyeongChangPeace-Bold';
    font-size: 48px;
    margin-bottom: 36px;
  }
  .loading {
    position: relative;
    width: 266px;
    height: 16px;
    background-color: #ffffff3f;
    border-radius: 50px;
    .loading-bar {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $wh-color;
      border-radius: 50px;
      animation: Loading 1.5s linear;
    }
  }
  .loadingMsg {
    color: $wh-color;
    font-family: 'PyeongChang-Regular';
    font-size: 14px;
    margin-top: 36px;
  }
}
