@import '../abstracts/variables';

.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  .title {
    color: $wh-color;
    font-family: 'PyeongChangPeace-Bold';
    font-size: 48px;
    margin-bottom: 36px;
  }
  .loadingMsg {
    color: $wh-color;
    font-family: 'PyeongChang-Regular';
    font-size: 14px;
    margin-top: 36px;
  }
}
