@import '../abstracts/variables';

.userboard-img {
  display: block;
  margin: 75px auto 100px;
}
.userboard-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}