@import "../abstracts/variables";

.share-button-area {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    button {
        margin-bottom: 15px;
    }
}